.mainContainer {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 15px;
}

.post {
    flex-grow: 1;
    border: 1px solid #555;
    border-radius: 15px;
    transition: all .3s ease-in-out;
    padding: 20px;
}

.post:hover {
    background: black;
    border: 1px solid #fff;
}

.image {
    border-radius: 15px !important;
    height: 250px !important;
}

.title {
    font-size: 28px;
    font-weight: 700;
}

.desc {
    font-size: 15px;
    color: #999;
}